params {
        // Input
        singleEnd = false
        pairedEnd = false
        bam = false
        longRead = false
        reads = "data/*{1,2}.fastq.gz"

        // Output
        outdir="$baseDir/results"

        // Build databases
        build = false
        buildKraken2 = false
        buildHost = false
        buildContaminants = false

        // Include/Exclude steps in pipeline
        porechop = true
        fastp = true
        fastqcPre = true
        fastqcPost = true
        filterBowtie2 = true
        kraken2 = true
        kaiju = true
        multiqc = true

        // Filtering options
        filterContaminants = true

        // Run parameters
        porechopParam = "-t 4"
        fastpParamShort = "--thread 4 -q 20 -l 100"
        fastpParamLong = "--thread 4 -q 5"

        // Database and Reference locations
        krakenDB="$baseDir/databases/kraken2"
        kaijuDB="$baseDir/databases/kaiju"

        // Indexed references for filtering
        references="$baseDir/databases/references"
        hostReference=""
        contaminantReferences=""
        // If paths to references are not specified, Metoid will download them using:
        hostFTP="ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/GCF_000001405.39_GRCh38.p13_genomic.fna.gz"
        contaminantList="$baseDir/bin/accession_list.txt"

        // General
        help = false
}

profiles {

        local {
                process.executor = 'local'
        }
  
        slurm {
                process.executor = 'slurm'
                process.clusterOptions = { "-A <> --qos <> --mail-type=<> --mail-user=<>" }

        }

        docker { 
                docker.enabled = true
                process.container = 'metoid_ks'
                docker.runOptions='-u $(id -u):$(id -g)'
        }

        singularity { 
                singularity.enabled = true
                process.container = 'talnor/metoid_ks'
                singularity.engineOptions = '--verbose --debug'
                singularity.cacheDir = '/path/to/tmp' 
        }
}
