params {
        // Input
        singleEnd = false
        pairedEnd = false
        bam = false
        longRead = false
        reads = "data/*{1,2}.fastq.gz"

        // Output
        outdir="$baseDir/results"

        // Include/Exclude steps in pipeline
        build = false
        porechop = true
        fastp = true

        // Run parameters
        porechopParam = "-t 4"
        fastpParam = "--thread 4 -q 20 -l 100"

        // Database and Reference locations
        krakenDB="$baseDir/results/databases/HumanViral"
        kaijuDB="$baseDir/results/databases/virus_kaiju"
        hostReference="/path/to/GCF_000001405.39_GRCh38.p13_genomic.fna"
        contaminantList="$baseDir/bin/accession_list.txt"
        contaminants="/path/to/contaminants.fna"

        // General
        help = false
}

profiles {

        local {
                process.executor = 'local'
        }
  
        slurm {
                process.executor = 'slurm'
                process.clusterOptions = { "-A <> --qos <> --mail-type=<> --mail-user=<>" }

        }

        docker { 
                docker.enabled = true
                process.container = 'metoid_ks'
                docker.runOptions='-u $(id -u):$(id -g)'
        }

        singularity { 
                singularity.enabled = true
                process.container = 'talnor/metoid_ks'
                singularity.engineOptions = '--verbose --debug'
                singularity.cacheDir = '/path/to/tmp' 
        }
}
